{%extends 'base.html'%}
{%block head%}
{%endblock%}



{%block body%}
<div class="container my-5"> 
<h1 class="text-center text-primary mb-4">Update The Grocery</h1>
 <form action="/update/{{task.id}}" method="POST" class="mt-4">
        <div class="input-group">
              <input type="text" name="content" id="content" class="form-control" value="{{task.content}}" required>
            <button type="submit" class="btn btn-success">Update now</button>
        </div>
    </form>
</div>


{%endblock%}